/* css_base.css */
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
}

css
  /* css_base.css */
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 200px 0 120px 0;
  background: url("/assets/img/hero-bg.png") top center;
  background-size: cover;
  position: relative;
}

@media (max-width: 991px) {
  #hero {
      padding: 140px 0 60px 0;
  }
}

@media (max-width: 574px) {
  #hero {
      padding: 100px 0 20px 0;
  }
}

#hero .hero-img {
  width: 30%;
  float: right;
}

h1 {
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
  color: whitesmoke;
  font-size: 100px;
}

.feature-description {
  font-size: 20px;
}

.rounded-image {
  border-radius: 20px;
}

h2 {
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
  color: #595858;
  font-size: 70px;
}

.features-section {
  overflow: hidden;
  position: relative;
  margin: 0;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 2s ease, transform 2s ease;
}

.features-section.scrolled {
  opacity: 0;
  transform: translateY(10%); /* Ajusta el valor para controlar la cantidad de desplazamiento */
}

.features-section.scrolled-up {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Configura una transición más rápida al volver a la posición original */
}

.rounded-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  /* Other styling properties if needed */

}

.container2 .members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.container2 .social-networks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.container2 .members p {
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
  color: #bbbaba;
}

.container2 .social-networks h1 {
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
  color: #bbbaba;
}

.container2 .members li {
  list-style: none;
  margin: 10px 0;
}

.container2 .members li a {
  text-decoration: none;
  color: #bbbaba;
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
}

.container2 .social-networks li {
  list-style: none;
  margin: 10px 0;
}

.container2 .social-networks li a {
  text-decoration: none;
  color: #bbbaba;
  font-size: 20px;
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
}

.container2 .members li a:hover {
  color: #fff;
}

.container2 .social-networks li a:hover {
  color: #fff;
}

.container2 .members li a::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #bbbaba;
  font-family: 'Mitr', sans-serif;
  font-family: 'Sen', sans-serif;
}

.container2 .social-networks li a::before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #bbbaba;
  font-family: 'Mitr', sans-serif;
}